.navbar-div{
    height: 4rem;
    background: var(--primary-color);
    width: auto;
    display: flex;
}

.navbar-div h1{
    color: white;
    font-family: logo;
}

.active{
    color: white;
    font-size: 24px;
    font-family: text-font;
    font-weight:40px;
    text-decoration: none;

}

.inactive{
    color: var(--text-color-1);
    font-size: 24px;
    font-family: text-font;
    font-weight:300;
    text-decoration: none;
}

.logo-div{
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 1rem;
}

.nav-div{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
    justify-content: end;
    padding-right: 3rem;
}

.navbar-div-mob{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    position: relative;
}

.nav-mob{
    background: var(--primary-color);
    padding: 3rem 2rem;
    width: 18rem;
    display: flex;
    animation: pop 0.2s linear;
    flex-direction: column;
    z-index: 16;
    border-radius: 5px;
    gap: 1rem;
    box-shadow: 2px 5px 5px rgba(103, 20, 20, 0.7);
    position: absolute;
    top: 4.5rem;
    right: 0.4rem;
}

@keyframes pop {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width:1400px) {
    .active{
        font-size: 16px;
    }

    .inactive{
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .nav-div{
        display: none;
    }

    .navbar-div-mob{
        display: flex;
    }
}


@media screen and (max-width: 900px) {
    .nav-mob{
        padding: 2rem 1rem;
        width: 14rem;
    }

    .active{
        font-size: 16px;
        
    }

    .inactive{
        font-size: 16px;
    }
}


@media screen and (max-width: 600px) {
    .nav-mob{
        padding: 2rem 1rem;
        width: 10rem;
        text-align: left;
    }

    .active{
        font-size: 14px;
        
    }

    .inactive{
        font-size: 14px;
    }
}