.user-panel-div{
    height: 38rem;
    display: flex;
    padding:0 3rem;
    align-items: center;
    justify-content: center;
    width: auto;
}

.user-panel-div::before{
    content: '';
    position: absolute;
    top: 4rem;
    display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../../assets/result-image.jpg');
    background-size: cover;
    z-index: -1;
    filter: brightness(0.4);
}

.user-panel-content{
    display: flex;
    width: 100%;
    gap: 4rem;
    align-items: center;
}

.content-numeric, .content-chat{
    display: flex;
    height: 33rem;
    flex: 1;
    background:var(--text-color-1);
    opacity: 0.8;
}

.content-chat{
    flex: 2;
}

.content-numeric{
    padding: 3rem 2rem;
    flex-direction: column;
    border-radius: 5px;
}

.content-numeric h3{
    font-size: 2rem;
    font-family: text-font;
    color: var(--primary-color);
}


.current-div, .previous-div, .other-div{
    display: flex;
    align-items: center;
    gap: 8rem;
    margin-top: 2rem;
}

.current-div div, .previous-div div, .other-div div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-div h1, .previous-div h1, .other-div h1{
    font-family: text-font;
    color: var(--primary-color);
    font-size: 4rem;
}

.current-div h4, .previous-div h4, .other-div h4{
    color: var(--tatiary-color);
}



.current-label-numeric, .previous-label-numeric, .other-label-numeric{
    font-size: 24px;
    font-family: text-font;
}

.content-chart {
    flex: 2;
    height: 33rem; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    background: var(--tatiary-color2);
    opacity: 0.8;
    align-items: center;
    padding: 0 1rem;
    border-radius: 5px;
}

.content-chart canvas{
    height: 33rem;
    width: 100%;
}
  

@media screen and (max-width : 1000px) {
    .user-panel-content{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .user-panel-div{
        overflow: hidden;
        padding-top: 10rem;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .content-numeric{
        width: 80%;
        height: 70vh; 
    }

    .content-chart{
      width: 80%;
      height: 70%;
    }

    .current-div, .previous-div, .other-div{
        gap: 14rem;
        margin-top: 0rem;
    }
}

@media screen and (max-width : 500px ) {
    .content-chart{
        display: none;
    }

    .user-panel-div{
        padding-top: 3rem;
    }

    .content-numeric{
        width: 100%;
    }

    .current-div, .previous-div, .other-div{
        gap: 3rem;
        
    }
}