*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: logo;
  src: url(./assets/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: text-font;
  src: url('./assets/Outfit-VariableFont_wght.ttf');
}


:root{
    --primati-color: #800000;
    --secondary-color: #8c3333;
    --text-color-1: #808080;
}
