*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: logo;
  src: url(./assets/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: text-font;
  src: url('./assets/Outfit-VariableFont_wght.ttf');
}


:root{
    --primary-color: rgb(128, 0, 0);
    --secondary-color: rgb(140, 51, 51);
    --tatiary-color:rgb(150, 50, 50);
    --tatiary-color2:rgb(173, 153, 153);
    --text-color-1: #918f8f;
    --text-color-2: white;
}
