*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: logo;
  src: url(./assets/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: text-font;
  src: url('./assets/Outfit-VariableFont_wght.ttf');
}


:root{
    --primary-color: #800000;
    --secondary-color: #8c3333;
    --tatiary-color:rgb(150, 50, 50);
    --text-color-1: #918f8f;
}
